
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Work+Sans:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(../images/hero.jpg) no-repeat center/cover;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
}

#logo {
    width: 20vw;
    height: 20vh;
}

h1 {
    color: bisque;
    font-family: 'popins', sans-serif;
    font-weight: 600;
    font-size: 3em;
}

.gaming-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#question-text {
    width: 40vw;
    background-color: antiquewhite;
}

.options{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px;
}

#answer-options

#score {
    width: 40vw;
    height: 30px;
    background-color: antiquewhite;
}
